#auto geenrate files
fbejfbe
fjebfjebf
dbv
v dwnbvdhmw
#static files
home.jpeg
xbhskjrgbkes
egkjsehgwe
nhgske
]nhkjeskt[
skjx
4sejtlelt
rnj4
seysfm
tslgnA"Ey[pASk'seysfmsesbgset

'seysfmsesbgsetsnkser4jkz]
w
belfsetes'bseljfds
,zbdflasor
bjzvf;s';rnj4sbvjks'a'
gjnset
es
y
skrjnklf;
41sra;lsbnfas12'faw'vtwz
eT;